.nosotros {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .reseña {
        margin-bottom: 10px;
        width: 100%;
        height: 60vh;
        background-color:rgba(255, 192, 203, 0.623);
        border-radius: 30px;
        padding: 10px;
        transition: .5s;


        &:hover {
            background-color: rgba(128, 128, 128, 0.747);
            color: aliceblue;
        }
        
    }
    .video {
        background-color: rgba(128, 128, 128, 0.747);
        padding: 10px;
        width: 100%;
        height: 60vh;
        border-radius: 50px;
    }
}