@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

$fuente:'Kanit', sans-serif;
$grisTransp:rgba(128, 128, 128, 0.555);
$rosaTransp:rgba(255, 192, 203, 0.623);
$rosa:rgb(255, 192, 203);
$colorLetra:aliceblue;
